body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #0B0B0B;
}

header {
    border-color: #0B0B0B;
    border-style: solid;
    padding: 2% 2% 0% 2%;
    text-align: center;
    background-color:#0B0B0B;
}

/*menu di navigazione per tutte le pagine*/
#nav {
    background-color: #0B0B0B !important;
}    

nav ul li { 
    display: inline-block;
    margin: 0% 26% 0% 26%;
    font-size: 1.5em;
} 

nav ul li a { 
    display: inline-block;
    color:#e9ebea !important;
    text-decoration: none; 
} 

nav ul li a:hover {
    color: #0B0B0B !important;
    text-decoration: none;
    background-color: #54F8AE;
    border-style: solid;
    border-color: #54F8AE !important; 
}

#attivo {
    border-style: solid;
    border-color: #54F8AE; 
}
/*fine menu di navigazione*/

/*BOX TESTO */
section {
    background-color: black;
    opacity: 0.8;
}

.odd {
    margin-bottom: 4%;
    margin-top: 4%;  
}

@media only screen and (max-width: 480px) {
    section {
        background-color: black;
        opacity: 0.8;
    }
  }

  @media only screen and (max-width: 480px) {
    .odd {
        margin-bottom: 4%;
        margin-top: 6% !important;  
    }
  }

  .odd {
    margin-bottom: 7%;
    margin-top: 7% !important;  
  }

  #bottom {
    margin-bottom: 7%;
  }

p {
    color: white;
    opacity: 1;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.6em;


}

h2 {
    color: white;
    opacity: 1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2em;
}

h3 {
    color: white;
    opacity: 1;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8em;
}

@media only screen and (max-width: 480px) {
    p {
      font-size: 1.3em !important;
      }   
  }

  @media only screen and (max-width: 480px) {
    h2 {
      font-size: 1.8em !important;
      }   
  }

  @media only screen and (max-width: 480px) {
    h3 {
        font-size: 1.6em !important;
      }   
  }

i:hover {
    color: #54F8AE;
    text-decoration: none;
}

i {
    color: white;
}
/*FINE BOX TESTO */

/*footer*/
footer {
    background-color: black;
    text-align: center;
    color:#e9ebea;
    padding-top: 1%;
    padding-bottom: 2px;
}

#dirittifooter {
    font-size:1.3em;
    text-align: center;
    color:#e9ebea;
}

  #senzahover {     /*per icona copyright*/   
    color: white;
}

@media only screen and (max-width: 480px) {
    #dirittifooter {
    font-size: 1.1em !important;
    }
  }
/*fine footer*/
