body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #0B0B0B;
}

h1, h2, h3 {
    color: #54F8AE;
}

p {
    color:#e9ebea;
    font-size: 1.6em;
    margin-right: 7%;
    margin-left: 7%;
    line-height: 1.4em;
}

h1 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
    font-size: 3em;
    text-decoration: overline 4%;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 2.7%;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 2em;
    margin-left: 2%;
    margin-bottom: 1%;
    font-weight: bold;
}

img {
    height: auto;
    width: 40%;
}

@media only screen and (max-width: 480px) {
    img {
        height: auto;
        width: 35%;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }
  }
  @media only screen and (max-width: 480px) {
    h2 {
        font-size: 2em;
    }
  }
  @media only screen and (max-width: 480px) {
    h3 {
        font-size: 1.6em;
    }
  }
  @media only screen and (max-width: 480px) {
    p {
        font-size: 1.3em;
    }
  }